---
import '@fontsource/josefin-sans/latin-400.css';

---
<html lang="en">
  <head>
    <title>Johan Lindskogen</title>
    <meta charset="utf-8" />
    <meta name="description" content="Web developer with a vision." />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style is:global>
      :root {
        --body-bg: #438eff;
        --navy: #3572a5;
        --text-color: #4d4900;
        --paper-bg: #fffdd0;
        --accent-color: var(--body-bg);

        @media (prefers-color-scheme: dark) {
          --body-bg: #002f75;
          --navy: #7287fd;
          --paper-bg: #000;
          --text-color: #fff;
          --accent-color: #8839ef;
        }
      }

      *,
      *:before,
      *:after {
        box-sizing: border-box;
      }

      a,
      a:active,
      a:visited {
        color: var(--navy);
      }

      html,
      body {
        height: 100%;
      }

      .background-container {
        min-height: 100%;
      }

      body {
        font-family: "Josefin Sans", sans-serif;
        color: var(--text-color);
        margin: 0;
        line-height: 1.4;
      }

      .background-container {
        padding: 4rem 2rem 0;
        background-color: var(--body-bg);
        display: flex;
        justify-content: center;
      }

      article {
        display: flex;
        flex-direction: column;
        background-color: var(--paper-bg);
        padding: 6rem;
        max-width: 960px;
        gap: 4rem;
        box-shadow: 4px 4px 0px rgba(1, 1, 1, 0.3);

        @media (max-width: 850px) {
          padding: 4rem;
          gap: 2rem;
        }

        @media (max-width: 450px) {
          padding: 2rem;
          gap: 2rem;
        }

        .name {
          color: var(--accent-color);
        }

        .nowrap {
          white-space: pre;
        }

        font-size: 2rem;

        @media (max-width: 850px) {
          font-size: 1.5rem;
        }
      }

      section {
        &.hi-row {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 1rem;

          .photo {
            flex: 0 1 100px;
            aspect-ratio: 1;
            background-image: url(/me.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            border-radius: 50%;

            @media (min-width: 450px) {
              flex-basis: 150px;
            }


            @media (min-width: 850px) {
              flex-basis: 200px;
            }
          }
        }

        .hi {
          font-size: 4rem;
        }

        &.links {
          font-family: monospace;
          font-size: 0.7em;
        }

        dl {
          margin: 0;
          padding-inline-start: 1em;
          display: grid;
          grid-template-columns: auto 1fr;

          @media (max-width: 850px) {
            grid-template-columns: 1fr;

            dd {
              margin-left: 1rem;
            }
          }
        }
      }
    </style>
    <link rel="icon" href="favicon.png" />
    <meta
      name="theme-color"
      content="#438eff"
      media="(prefers-color-scheme: light)"
    />
    <meta
      name="theme-color"
      content="#002f75"
      media="(prefers-color-scheme: dark)"
    />
  </head>
  <body>
    <div class="background-container">
      <article>
        <section class="hi-row">
          <span class="hi">Hi,</span>
          <div class="photo"></div>
        </section>
        <section class="letter">
          My name is <span class="name nowrap">Johan Lindskogen</span>.
          <p>I'm a software developer who loves code, coffee and skiing.</p>
        </section>
        <section class="links">
          &#123;
          <dl>
            <dt>"GitHub":</dt>
            <dd>
              "<a
                href="https://github.com/lindskogen"
                data-goatcounter-click
                rel="noopener"
                target="_blank">lindskogen</a
              >",
            </dd>

            <dt>"Twitter":</dt>
            <dd>
              "<a
                href="https://twitter.com/jlindsk"
                data-goatcounter-click
                rel="noopener"
                target="_blank">@jlindsk</a
              >",
            </dd>
            <dt>"Mastodon":</dt>
            <dd>
              "<a
                href="https://mastodon.nu/@jlindsk"
                data-goatcounter-click
                rel="me noopener"
                target="_blank">@jlindsk@mastodon.nu</a
              >",
            </dd>
            <dt>"LinkedIn":</dt>
            <dd>
              "<a
                href="https://se.linkedin.com/pub/johan-lindskogen/70/652/176/"
                data-goatcounter-click
                rel="noopener"
                target="_blank"
                class="nowrap">Johan Lindskogen</a
              >",
            </dd>
            <dt>"CV":</dt>
            <dd>
              "<a
                href="/cv"
                data-goatcounter-click
                rel="noopener"
                target="_blank"
                class="nowrap">cv.pdf</a
              >"
            </dd>
          </dl>
          &#125;
        </section>
      </article>
    </div>
    <script
      data-goatcounter="https://lindskogen_se.goatcounter.com/count"
      async
      src="//gc.zgo.at/count.js"></script>
  </body>
</html>
