<html lang="en">
    <head>
        <title>Johan Lindskogen</title>
        <meta charset="utf-8">
        <meta name="description" content="Web developer with a vision." />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <style>
        @font-face {
          font-family: 'Josefin Sans';
          font-style: normal;
          font-weight: 400;
          font-display: swap;
          src: url(https://fonts.gstatic.com/s/josefinsans/v17/Qw3PZQNVED7rKGKxtqIqX5E-AVSJrOCfjY46_DjQbMZhKSbpUVzEEQ.woff) format('woff');
          unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }
        </style>
        <style global lang="scss">
:root {
  --body-bg: #438eff;
  --navy: #3572a5;
  --text-color: #4d4900;
  --paper-bg: #fffdd0;

  @media (prefers-color-scheme: dark) {
    --body-bg: #002f75;
    --paper-bg: #000;
    --text-color: #fff;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a,
a:active,
a:visited {
  color: var(--navy);
}

html,
body {
  height: 100%;
}

.background-container {
  min-height: 100%;
}

body {
  font-family: "Josefin Sans";
  color: var(--text-color);
  margin: 0;
}

.background-container {
  padding-top: 4%;
  width: 100%;
  background-color: var(--body-bg);
  display: flex;
  justify-content: center;
}

article {
  background-color: var(--paper-bg);
  padding: 2em 6em 0;
  width: 80%;
  max-width: 960px;
  box-shadow: 4px 4px 0px rgba(1, 1, 1, 0.3);

  @media (max-width: 600px) {
    padding: 2em 2em 0;
    width: 90%;
  }

  .nowrap {
    white-space: pre;
  }
}

section {
  @media (max-width: 600px) {
    font-size: 1.5em;
  }
  padding-bottom: 2em;
  font-size: 2em;

  .hi-row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .photo {
      width: 150px;
      height: 150px;
      background-image: url(/me.jpg);
      background-repeat: no-repeat;
      background-size: 150px;
      background-position: top right;
      border-radius: 50%;

      @media (min-width: 850px) {
        background-size: 200px;
        width: 200px;
        height: 200px;
      }
    }
  }

  .hi {
    font-size: 2em;
  }

  &.letter {
    white-space: pre-line;
  }

  &.links {
    font-family: monospace;

    div {
      margin: 0.3em 2em 0;
    }

    .service:hover {
      .handle {
        display: inline;
      }
    }
  }
}
</style>
        <link rel="icon" href="favicon.png">
        <meta name="theme-color" content="#438eff" media="(prefers-color-scheme: light)"/>
        <meta name="theme-color" content="#002f75" media="(prefers-color-scheme: dark)"/>
    </head>
    <body>
        <div class="background-container">
            <article>
                <section class="letter">
                    <div class="hi-row">
                        <span class="hi">Hi,</span>
                        <div class="photo"></div>
                    </div>

                    My name is <span class="nowrap">Johan Lindskogen</span>.

                    I'm a software developer who loves code, coffee and skiing.
                </section>
                <section class="links">
                    &#123;
                    <div>
                        <span class="service">
                            "<span class="handle">GitHub</span>":
                            "<a href="https://github.com/lindskogen" data-goatcounter-click rel="noopener" target="_blank">lindskogen</a>",
                        </span>
                    </div>
                    <div>
                        <span class="service">
                            "<span class="handle">Twitter</span>":
                            "<a href="https://twitter.com/jlindsk" data-goatcounter-click rel="noopener" target="_blank">@jlindsk</a>",
                        </span>
                    </div>
                    <div>
                        <span class="service">
                            "<span class="handle">LinkedIn</span>":
                            "<a href="https://se.linkedin.com/pub/johan-lindskogen/70/652/176/" data-goatcounter-click rel="noopener" target="_blank" class="nowrap">Johan Lindskogen</a>",
                        </span>
                    </div>
                    <div>
                        <span class="service">
                            "<span class="handle nowrap">CV</span>":
                            "<a href="/cv" data-goatcounter-click rel="noopener" target="_blank" class="nowrap">cv.pdf</a>"
                        </span>
                    </div>
                    &#125;
                </section>
            </article>
        </div>
        <script data-goatcounter="https://lindskogen_se.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
    </body>
</html>
